# Any path pattern.
*.diff
*.mode1v3
*.orig
*.pbxuser
*.perspective
*.perspectivev3
*.swp
.DS_Store
project.xcworkspace/
xcuserdata/

# Absolute paths.
/docs/*.html
/docs/README_main.rst
/example/build/
/tags
